.App {
  text-align: center;
}
.app__form {
  position: fixed;
  bottom: 0;
  margin: 20px;
  width: 100%;
  z-index: 2;
  background-color: #cccccc;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
