.App {
  margin: 10px;
}
.app__form {
  position: fixed;
  bottom: 0;
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px;
  width: 95%;
  z-index: 2;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 10px 20px grey;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  margin-left: 10px !important;
}

.app__input {
  flex: 1;
}
